main{
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
  }
  
  section{
    text-align: center;
  }
  
  #welcome-section{
    height: 100vh;
  }
  
  #navbar {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: black;
  }
  
  .nav-link{
    padding-left: 2vw;
  }
  
  @media screen and (min-width: 720px) {
    body {
      background-color: lightgray;
    }
  }
